<phpunit
        bootstrap="../libs/vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
        forceCoversAnnotation="false"
        beStrictAboutCoversAnnotation="false">
    <testsuites>
        <testsuite name="Customer">
            <directory>Customer/</directory>
            <directory>Subscrition/</directory>
        </testsuite>
        <testsuite name="Subscription">
            <directory>Subscrition/</directory>
        </testsuite>
    </testsuites>
</phpunit>
